#  Options not set in httpd.conf
#  - - - - - - - - - - - - - - - - - - - - - - - -
Options +FollowSymlinks -Indexes

#  GZip content for extra oomph. :>
#  - - - - - - - - - - - - - - - - - - - - - - - -
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript

#  Rewriting magic.
#  - - - - - - - - - - - - - - - - - - - - - - - -
RewriteEngine on

#  CodeIgniter Rule
#  Unless requesting a valid file send to index.php
#  - - - - - - - - - - - - - - - - - - - - - - - -
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]