<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/nails/common/tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory suffix="Test.php">./tests/Controller</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENVIRONMENT" value="TESTING" force="true"/>
    </php>
</phpunit>
